<div class="row">
	<h3 class="col-md-12 text-center">Elasticsearch server status: {{status}}</h3>
</div>
<div class="col-md-6 col-md-offset-3">
	<div class="row">
		<h4 class="col-md-12 text-center">Post index</h4>
	</div>
	<div class="row">
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
			<div class="form-group">
				<label class="control-label" for="index">Index</label>
				<input type="text" class="form-control" id="index" formControlName="index" name="index">
			</div>
			
			<button type="submit" [disabled]="!isConnected" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
</div>