
<div *ngFor="let customer of customers" style="margin-top:20px">
  <app-view-task [customer]='customer._source'></app-view-task>
</div>
<div *ngIf="customers?.length < 1">
  <p>Not found!</p>
</div>
<h3>{{notice}}</h3>
<button (click)="showNextPage()" *ngIf="haveNextPage" class="btn btn-primary">Next</button>