<div class="container" >
	<div style="color: blue; margin-bottom: 20px">
		<h1>{{title}}</h1>
	</div>
    <nav>
		<a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
		<a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
		<a routerLink="search" class="btn btn-primary active" role="button" routerLinkActive="active">Search by Address</a>
	</nav>
	<router-outlet></router-outlet>
	
</div>