<div *ngIf="customer">
  <div>
    <label>Full Name: </label> {{customer.fullname}}
  </div>
  <div>
    <label>Age: </label> {{customer.age}}
  </div>
  <div>
    <label>Address: </label> {{customer.adress}}
  </div>
  <div>
    <label>Published: </label> {{customer.published_at}}
  </div>
  <hr/>
</div>