<div style="margin-top:20px">
  <input type="text" (keyup)="search($event)" placeholder="enter address" class="input">
 
  <div *ngFor="let customer of customers" style="margin-top:20px">
    <app-view-task [customer]='customer._source'></app-view-task>
  </div>
 
  <div *ngIf="customers?.length < 1" style="margin-top:20px">
    <p>Not found!</p>
  </div>
</div>